.git
.github
.venv
**/__pycache__
**/*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
.hypothesis
.coverage
htmlcov
dist
build
**/*.egg-info
rust/**/target
tests
docs
benchmarks
demo
examples
integrations
plugins
security
scripts
ci
